[submodule "external/dr_libs"]
	path = external/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "external/flac"]
	path = external/flac
	url = https://github.com/xiph/flac.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/xiph/ogg.git
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "external/opus"]
	path = external/opus
	url = https://github.com/xiph/opus.git
[submodule "external/dragonperch"]
	path = external/dragonperch
	url = https://github.com/yumasansansan/DragonPerch.git
[submodule "external/libebml"]
	path = external/libebml
	url = https://github.com/Matroska-Org/libebml.git
[submodule "external/libmatroska"]
	path = external/libmatroska
	url = https://github.com/Matroska-Org/libmatroska.git
