[submodule "external/dr_libs"]
	path = external/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "external/flac"]
	path = external/flac
	url = https://github.com/xiph/flac.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/xiph/ogg.git
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "external/opus"]
	path = external/opus
	url = https://github.com/xiph/opus.git
[submodule "external/dragonperch"]
	path = external/dragonperch
	url = https://github.com/yumasansansan/DragonPerch.git
[submodule "external/libebml"]
	path = external/libebml
	url = https://github.com/Matroska-Org/libebml.git
[submodule "external/libmatroska"]
	path = external/libmatroska
	url = https://github.com/Matroska-Org/libmatroska.git
[submodule "external/Bento4"]
	path = external/Bento4
	url = https://github.com/axiomatic-systems/Bento4.git
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "external/mpg123"]
	path = external/mpg123
	url = https://github.com/madebr/mpg123.git
[submodule "external/wavpack"]
	path = external/wavpack
	url = https://github.com/dbry/WavPack.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/audiosdk/asio.git
[submodule "external/vst3sdk/pluginterfaces"]
	path = external/vst3sdk/pluginterfaces
	url = https://github.com/steinbergmedia/vst3_pluginterfaces.git
[submodule "external/dav1d"]
	path = external/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "external/dav2d"]
	path = external/dav2d
	url = https://code.videolan.org/videolan/dav2d.git
[submodule "external/aom"]
	path = external/aom
	url = https://aomedia.googlesource.com/aom
[submodule "external/avm"]
	path = external/avm
	url = https://github.com/AOMediaCodec/avm.git
[submodule "external/libvpx"]
	path = external/libvpx
	url = https://github.com/webmproject/libvpx.git
